.nav-container{
    height:3em;
    display:flex;
    justify-content: center;
}

.nav-container button {
    width:7em;
    margin-left:.5%;
    margin-right:.5%;
    margin-top:1em;
    border-radius:5px;
    background-color:rgb(45, 220, 233);
    border:none;
    text-align: center;
}

h5 {
    text-align: center;
}

/* .g-signin2 {
    width:50%;
} */