
.faq-button .button {
    width:60px; 
    background-color:rgb(131, 197, 197);
    color:white;
    border-color:rgba(255, 255, 255, 0);
    transition: .2s
}

.faq-button .button:hover {
    transform:scale(1.05)
}

.login-container{
    display:flex;
    justify-content: center;
    margin-top:2em;
    margin-bottom:2em;
}

.faq-button {
    height:0
}

.description p {
    padding-top:4em;
    padding-bottom:4em;
    padding-left:3em;
    padding-right:3em;
    margin-top:-.1em;
    background-color:rgb(230, 255, 254);
    line-height: 2em;
    font-size:1.5em;
}

.facts {
    padding-top:3em;
    padding-bottom:3em;
    margin-top:-1.5em;
    background-color:#f0fcfa;
}



.facts-box {
    margin-left:3em;
    margin-right:3em;
    background-color:rgb(189, 255, 183);
    border-radius: 25px;
    margin-top:1em;
    margin-bottom:1em;
}

.facts-box h1 {
    line-height:1.5em;
}

.button {
    width:13em;
    height:3em;
    margin-bottom:4em;
    background-color:rgb(41, 150, 108);
    color:white;
}

.start-button {
    display:flex;
    justify-content: center;
}

.start-button button {
    padding-top:1em;
    padding-bottom:1em;
    height:100%;
    font-weight: bold;
}

@media screen and (max-width:800px){
    .home-header-title u {
        font-size:.6em;
    }

    .description p {
        background-color:rgb(230, 255, 254);
        line-height: 1.8em;
        font-size:1em;
        margin-top:.1em;
        margin-bottom:-4em;
    }
    
}