.saved-header {
    background-color:rgb(180, 255, 217);
    padding:1em;
    width:80%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

.saved-container{
    background-color:rgb(255, 255, 255);
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    padding-top:1em;
    padding-bottom:1em;
    margin-top:3em;
}

.school-title .title {
    color:red;
}

.saved-container p {
    background-color:rgb(206, 255, 217);
    text-align: center;
    border-radius:10px;
}

.saved-flex {
    display:grid;
    grid-template-columns:35% 35% 35%;
    justify-content: center;
}

.saved-flex p {
    margin-left:2em;
    margin-right:2em;
}

.saved-big-flex {
    background-color:rgb(234, 235, 255);
    border-radius:25px;
    margin:3em;
    padding:1em;
}

.remove-entry-container {
    display:flex;
    justify-content: center;
}

.remove-entry-container button {
    background-color:rgb(219, 68, 68);
    border-radius:10px;
}

.big-saved-div {
    padding:1em;
}

@media screen and (max-width: 750px) {
    .big-saved-div{
        padding:0em;
        padding-top:1em;
        padding-bottom:1em;
    }
    .saved-container{
        width:100%;
        margin-left:-1em;
        margin-right:0;
    }

    .saved-big-flex{
        padding:.2em;
    }
    .saved-flex {
        display:flex;
        flex-direction: column;
        width:100%;
    }

    .saved-flex p {
        margin-left:.5em;
        margin-right:.5em;
        margin-top:-.2em;
    }

    .saved-header {
        font-size:1em;
        margin-bottom:0;
    }

    .saved-big-flex{
        margin:1em;
        padding:.5em;
    }
}