

.Pagination {
    position: absolute;
    bottom:-400px;
    display:flex;
    justify-content: center;
}

.header{
    text-align: center;
}

.input-container{
    display:flex;
    justify-content: center;
    padding-bottom:1.5em;
}

.Pagination ul {
    margin-left:auto;
    margin-right:auto;
}

.Pagination li {
    list-style-type: none;
}

.panel-block {
    justify-content: center;
    transition: transform .2s;
}

.panel-block:hover {
    transform: scale(1.1);
}

.panel{
    padding-bottom:2em;
}
