.total-cost-container {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.total-cost-container .card{
    transition:.4s;
}

.total-cost-container .card:hover{
    transform:scale(1.03);
    z-index: 2;
}

.total-cost-container img {
    padding-top:1em;
}

.total-cost-container .content {
    line-height:1.5em;
}

.total-cost-header {
    margin-top:1em;
    text-align: center;
    padding-top:1em;
    
}

.total-cost-value {
    background-color:white;
    border-radius:25px;
    width:50%;
    margin-right:auto;
    margin-left:auto;
    padding:.5em;
}

.total-cost-1{
    background-color:rgb(255, 137, 137);
}

.total-cost-2{
    background-color:rgb(255, 230, 183);
}

.total-cost-3{
    background-color:rgb(255, 255, 208);
}

.total-cost-4{
    background-color:rgb(196, 252, 196);
}

.total-cost-5{
    background-color:rgb(138, 138, 255);
}

.total-cost-6{
    background-color:rgb(255, 206, 255);
}

.college-inflation-section p{
    text-align: center;
    text-emphasis: none;
    width:80%;
    color:black;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5em;
    background-color:rgb(115, 243, 115);
    padding:2em;
    border-radius:25px;
}

.non-tuition p{
    text-align: center;
    text-emphasis: none;
    width:80%;
    color:black;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5em;
    background-color:rgb(115, 243, 211);
    padding:2em;
    border-radius:25px;
}

.total-total h1{
    text-align: center;
    text-emphasis: none;
    width:80%;
    color:black;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5em;
    background-color:rgb(115, 217, 243);
    padding:1em;
    border-radius:25px;
}

a { color: inherit; } 

.college-total {
    text-align: center;
    background-color:rgb(250, 250, 250);
    width:30%;
    padding:.7em;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
}

.search-again-button-container {
    display:flex;
    justify-content: center;
}

.search-again-button{
    background-color:rgb(25, 158, 25);
    font-family: 'Ubuntu', sans-serif;
    border-radius:10px;
}

.life-after {
    padding-top:1em;
    padding-bottom:1em;
}

@media screen and (max-width:700px){
    .total-cost-container {
        display:grid;
        grid-template-columns: 90%;
        justify-content: center;
    }
    .college-total{
        width:80%;
    }
}