.tuition-buttons{
    display:flex;
    justify-content: center;
}

.tuition-buttons .button {
    width: 10em;
    margin-left:1em;
    margin-right:1em;
    background-color:rgb(26, 177, 131);
    font-family: 'Ubuntu', sans-serif;
}


.input {
    width:10%;
}

.tuition-box{
    display:flex;
    justify-content: center;
    padding-bottom:2em;
}

input {
    text-align:center;
    text-emphasis: bolder;
}

.header-tuition {
    padding-left:4.5em;
    padding-right:4.5em;
    padding-bottom:1em;
    padding-top:2em;
    line-height:1.5em;
}

.message-header h1 {
    color:rgb(32, 48, 49);
    font-size:1.2em;
    margin-left:2em;
    margin-top:-.05em;
    margin-bottom:-.05em;
    margin-left:auto;
    margin-right:auto;
}

.message {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}