.tuition-buttons{
    display:flex;
    justify-content: center;
}

.tuition-buttons .button {
    width: 10em;
    margin-left:1em;
    margin-right:1em;
    background-color:rgb(26, 177, 131);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

.pie-chart {
    margin-top:-25%;
    margin-bottom:-25%;
}

.input {
    width:15%;
}

.tuition-box{
    display:flex;
    justify-content: center;
    padding-bottom:2em;
}

input {
    text-align:center;
    text-emphasis: bolder;
}

.header-tuition {
    padding-left:4.5em;
    padding-right:4.5em;
    padding-bottom:1em;
    padding-top:2em;
    line-height:1.5em;
    background-color:white;
    border-radius:25px;
    width:80%;
    margin-right:auto;
    margin-left:auto;
}

.header-tuition-alt {
    padding-left:4.5em;
    padding-right:4.5em;
    padding-bottom:1em;
    padding-top:2em;
    width:80%;
    line-height:1.5em;
    background-color:white;
    border-radius:25px;
    margin-right:auto;
    margin-left:auto;
}

.tuition-flex-label{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.tuition-label{
    background-color: white;
    padding:1em;
    border-radius: 25px;
}

.header-tuition-check {
    width:80%;
    line-height:1.5em;
    background-color:white;
    border-radius:25px;
    margin-right:auto;
    margin-left:auto;
}

.header-tuition-alt .input {
    margin-top:2em;
}

.message-header h1 {
    color:rgb(32, 48, 49);
    font-size:1.2em;
    margin-left:2em;
    margin-top:-.05em;
    margin-bottom:-.05em;
    margin-left:auto;
    margin-right:auto;
}



.message {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (max-width: 1050px) {
    .header-tuition-alt {
        padding-left:1em;
        padding-right:1em;
    }
    .header-tuition {
        padding-left:1em;
        padding-right:1em;
    }
    .input {
        width:20%;
    }
    .tuition-buttons{
        display:flex;
        flex-direction: column;
        align-items:center;
        margin-top:3em;
        margin-bottom:-2em;
    }

    .tuition-buttons button {
        margin-top:-2em;
    }
  }

  .tuition-checkbox {
  }